.tasklist {
  max-width: 76rem;
  margin: 0 auto;
  margin-top: 6rem;
  padding: 0 1rem;
}

.tasklist > header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 2rem;
}

.tasklist h2 {
  color: var(--blue);
  font-size: 0.875rem;
  font-weight: 700;
}

.tasklist h2 > span.sub {
  margin-right: 6px;
}

.tasklist h2:nth-child(2) > span.sub {
  color: var(--purple-dark);
}

.tasklist h2 > span.highlight {
  padding: 0.3rem 0.5rem;
  border-radius: 8px;
  font-size: 0.75rem;
  color: var(--gray-200);
  background-color: var(--gray-400);
}
